Repository JakeStanger/ironbar, pull requests merged in 2025-05, with the labels that each got.

#984 refactor: update hyprland-rs, remove `expect`s from hyprland client code
  Cargo.lock
  Cargo.toml
  src/clients/compositor/hyprland.rs
Labels: M:Workspaces, T:Bug, A:Client

#823 refactor: replace channel macros with ext trait methods
  src/channels.rs
  src/clients/clipboard.rs
  src/clients/compositor/hyprland.rs
  src/clients/compositor/niri/mod.rs
  src/clients/compositor/sway.rs
  src/clients/libinput.rs
  src/clients/music/mpd.rs
  src/clients/music/mpris.rs
  src/clients/swaync/mod.rs
  src/clients/volume/mod.rs
  src/clients/volume/sink.rs
  src/clients/volume/sink_input.rs
  src/clients/wayland/mod.rs
  src/clients/wayland/wl_output.rs
  src/clients/wayland/wlr_data_control/mod.rs
  src/clients/wayland/wlr_foreign_toplevel/mod.rs
  src/dynamic_value/dynamic_bool.rs
  src/dynamic_value/dynamic_string.rs
  src/image/provider.rs
  src/ipc/server/mod.rs
  src/ironvar.rs
  src/macros.rs
  src/main.rs
  src/modules/bindmode.rs
  src/modules/cairo.rs
  src/modules/clipboard.rs
  src/modules/clock.rs
  src/modules/custom/button.rs
  src/modules/custom/mod.rs
  src/modules/custom/progress.rs
  src/modules/custom/slider.rs
  src/modules/focused.rs
  src/modules/keyboard.rs
  src/modules/label.rs
  src/modules/launcher/item.rs
  src/modules/launcher/mod.rs
  src/modules/mod.rs
  src/modules/music/mod.rs
  src/modules/networkmanager.rs
  src/modules/notifications.rs
  src/modules/script.rs
  src/modules/sysinfo/mod.rs
  src/modules/tray/mod.rs
  src/modules/upower.rs
  src/modules/volume.rs
  src/modules/workspaces/button.rs
  src/modules/workspaces/mod.rs
  src/popup.rs
  src/script.rs
  src/style.rs
Labels: A:Core

#983 fix(bindmode): hide bindmode label if it's empty
  src/modules/bindmode.rs
Labels: M:Bindmode, T:Module Enhancement, A:UX/UI

#988 feat: add halign option to box module
  docs/modules/Custom.md
  src/modules/custom/box.rs
Labels: M:Custom, T:Module Enhancement, A:Config, A:UX/UI

#1003 Overhaul `.desktop` and image resolver code
  .idea/runConfigurations/Test.xml
  Cargo.toml
  docs/Configuration guide.md
  src/bar.rs
  src/channels.rs
  src/clients/networkmanager.rs
  src/clients/wayland/mod.rs
  src/config/layout.rs
  src/config/mod.rs
  src/desktop_file.rs
  src/image/gtk.rs
  src/image/mod.rs
  src/image/provider.rs
  src/ipc/server/ironvar.rs
  src/ironvar.rs
  src/main.rs
  src/modules/clipboard.rs
  src/modules/custom/image.rs
  src/modules/custom/mod.rs
  src/modules/focused.rs
  src/modules/keyboard.rs
  src/modules/launcher/item.rs
  src/modules/launcher/mod.rs
  src/modules/launcher/pagination.rs
  src/modules/mod.rs
  src/modules/music/mod.rs
  src/modules/networkmanager.rs
  src/modules/notifications.rs
  src/modules/sysinfo/mod.rs
  src/modules/sysinfo/parser.rs
  src/modules/tray/icon.rs
  src/modules/tray/mod.rs
  src/modules/upower.rs
  src/modules/workspaces/button.rs
  src/modules/workspaces/mod.rs
  src/popup.rs
  src/script.rs
  src/style.rs
  test-configs/applications/Factorio.desktop
  test-configs/applications/firefox.desktop
Labels: BREAKING CHANGE, A:Core, T:Core Enhancement

#1005 fix: unable to use markup in icon labels
  src/image/gtk.rs
Labels: P:Low, T:Bug, A:UX/UI
